@keyframes zoom-in {
    0% {
        transform: scale(1);
        @apply text-red-500
    }

    25% {
        transform: scale(1.6);
        @apply text-red-800
    }

    50% {
        transform: scale(1.2);
        @apply text-red-500
    }

    75% {
        transform: scale(1.6);
        @apply text-red-800
    }
}

.zoom-in {
    animation: zoom-in 0.3s forwards;
}